@charset "utf-8";

/* web fonts */
@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {
    padding: 0;
    border: 0;
    margin: 0;
}
