@charset "utf-8";

/* web fonts */
@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {
    padding: 0;
    border: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'Noticia';
    font-weight: lighter;
}

 h3, h4, h5, h6  {
    font-family: 'Open Sans';
    font-weight: 600;
 }

 p {
    padding: 10px 0;
    font-family: 'Open Sans';
    font-size: .9em;
 }

a {
    text-decoration: none;
    color: #5d865a;
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline-block;
}

body {
    background-color: #e6e6e6;
}

footer {
    width: 90%;
    margin: auto;
    text-align: center;
    color: gray;
    border-top: 1px solid #d1d3d4;
}

.header {
    background-color: #e6e6e6;
}


.header img {
    width: 60%;
    margin: 5% 20%;
}


.typography {
    padding: 5%;
    background-color: #ffffff;
}

.palette {
    padding: 5%;
}

a:hover {
    color: #356831;
    text-decoration: underline;
}

a:visited {
    color: #356831;
}


.palette li {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    line-height: 4em;
}

.palette li:last-child {
    margin: 0;
}

.primary {
    background-color: #5d865a;
}

.primary:hover {
    background-color: #356831;
}

.accent {
    background-color: #e8d5b6;
}

.accent:hover {
    background-color: #b47015;
}

.grey {
    background-color: #e6e6e6;
    border: 1px solid white;
}

.grey:hover {
    background-color: #d1d3d4;
}

.images {
    padding: 5%;
}

.images img {
    width: 100%;
}

.left {
    width: 48%;
    margin-right: 1%;
}

.right {
    width: 48%;
    margin-left: 1%;
}

.across {
    padding-top: 2%;
}

.button {
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #5d865a;
    font-family: 'Open Sans';
    color: #ffffff
}

.button:hover {
    background-color: #356831;
}

.button:hover, .button:visited {
    text-decoration: none;
    color: #ffffff;

}

p:last-of-type {
    margin-bottom: 30px;
}

@media (min-width: 750px) {

    .header {
        width: 25%;
        float: left;
        padding: 5% 5% 0 5%;
    }

    .typography {
        float: right;
        width: 50%;
        margin: 5% 5% 0 0;
    }

    .palette {
        width: 30%;
    }

    .palette li {
        margin: 6% 0 0 0;
        width: 83%;
    }

    .palette li:last-child {
        margin: 6% 0 0 0;
    }

    .images {
        padding-top: 0;
    }

    .left {
        width: 24%;

    }

    .right {
        width: 24%;
        margin: 0;
    }

    .across {
        padding-top: 0;
        width: 48%;
        margin-left: 1%;
    }
}

@media (min-width: 1000px) {
    .header img {
        width: 10em;
    }
}
