@charset "utf-8";

/* web fonts */
@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {
    padding: 0;
    border: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'Noticia';
    font-weight: lighter;
}

 h3, h4, h5, h6  {
    font-family: 'Open Sans';
    font-weight: 600;
 }

 p {
    padding: 10px 0;
    font-family: 'Open Sans';
    font-size: .9em;
 }

a {
    text-decoration: none;
    color: #5d865a;
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline-block;
}

body {
    background-color: #e6e6e6;
}

footer {
    width: 90%;
    margin: auto;
    text-align: center;
    color: gray;
    border-top: 1px solid #d1d3d4;
}

.header {
    background-color: #e6e6e6;
}


.header img {
    width: 60%;
    margin: 5% 20%;
}


.typography {
    padding: 5%;
    background-color: #ffffff;
}

.palette {
    padding: 5%;
}
